@keyframes blinkerMadaFaka {
    0% {
        background: $color_success
    }
    54% {
        background: $color_success
    }
    56% {
        background: transparent
    }
    98% {
        background: transparent
    }
    100% {
        background: $color_success
    }
}
@-webkit-keyframes blinkerMadaFaka {
    0% {
        background: $color_success
    }
    54% {
        background: $color_success
    }
    56% {
        background: transparent
    }
    98% {
        background: transparent
    }
    100% {
        background: $color_success
    }
}