$color_text: #e2e2e2;
$color_bg: #231925;
$color_bg_light: #332537;
$color_info: #51D0D0;
$color_error: #753131;
$color_error_light: #e05e5e;
$color_success: #CD51C7;
$color_success_dark:#61285e ;

$effect_background_color:  background-color .3s ease;