@import './fonts/fonts.scss';
@import './scss/variables.scss';
@import './scss/keyframes.scss';

.terminal{
    display: block;
    color:$color_text;
    width: 100%;
    font-family: IBMVBA8 , monospace;
    font-size: 25px;
    min-height: 100%;
    .prompt {
        width: auto;
        margin-right: .4em;
        float: left;
    }
    .typed {
        padding: .8em;
    }
    .overlay {
        background-color:$color_bg;
        position:fixed;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        z-index:-10;
        transition: $effect_background_color;
        -o-transition: $effect_background_color;
        -moz-transition: $effect_background_color;
        -webkit-transition: $effect_background_color;
    }
    &:focus-within > .overlay{
        background-color: $color_bg_light;
    }
    .line{
        width: 100%;
        .texted{
            word-break: break-all;
        }
        .fakeinput {
            word-break: break-all;
            float: left;
            span:after {
                content: "";
                display: inline-block;
                width: .5em;
                background-color: #cccccc;
                height: 1.4rem;
                vertical-align: text-top;
                margin-left: .2em;
            }
        }
    }
    &:focus-within .fakeinput span:after{
        animation: blinkerMadaFaka 1.2s linear infinite;
        -webkit-animation: blinkerMadaFaka 1.2s linear infinite;
        width: .2em!important;
    }
    div,span {
        &.info{
            color:$color_info!important
        }
        &.success{
            color:$color_success!important
        }
        &.error{
            color:$color_error!important
        }
        &.error-light{
            color:$color_error_light!important
        }
    }
    input{
        width: auto;
        background: transparent;
        color: transparent;
        border: 0;
        padding: 0;
        display: inline-block;
        font-family: IBMVBA8 , monospace;
        font-size: 25px;
        &:focus{
            outline: none;
        }
        &::selection {
            background-color: transparent;
            color: transparent;
        }
    }
}